/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    grid-template-areas: 
    "header"
    "navigation"
    "hero"
    "hero2"
    "whats-new"
    "footer";
    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}