/* =============
    Base
============= */

figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-areas: 
        "header"
        "navigation"
        "hero"
        "hero2"
        "whats-new"
        "footer";
        grid-gap: 20px;
} 
        
.header {
        grid-area: header;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $lightGray;
        

        h1 {
            display: grid;
            grid-template-columns: 40px 60px 280px;
            grid-template-rows: 77px;
            align-items: center;
        }
}

.navigation {
        grid-area: navigation;
        h2 {
            display: grid;
            grid-template-rows: 46px;
            align-items: center;
        }

        form {
            display: grid;
            grid-template-columns: 400px 20px 50px;
            justify-content: center;
        }
}

.hero {
        grid-area: hero;

        div {
            display: grid;
            grid-template-columns: repeat(8,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
                "a a a a a . . b"
                "c c c c c c c .";
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            h3 {
                grid-area: a;
            }
            p {
                grid-area: c;
            }
            i {
                grid-area: b;
            }
        }

        @include md {
            ul {
                display: grid;
                grid-template-columns: 450px auto;
                
           }
        }

        @include lg {
            ul {
               display: grid;
               grid-template-columns: repeat(2,1fr);
             
            }
        }
}

.hero2 {
        grid-area: hero2;   
        div {
            display: grid;
            grid-template-columns: 200px 40px 130px;
            grid-template-rows: 90px 20px;
        }

        ul {
            margin-bottom: 20px;
        }

        
}

.whats-new {
        grid-area: whats-new;
        display: grid;
        justify-content: center;
        margin-bottom: 25px;
    
        ul {
            display: grid;
            grid-gap: 30px;
        }
    
        h1 {
            display: grid;
            grid-template-rows: 100px;
            align-items: center;
        }

        article {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 530px;
            grid-template-rows: 400px auto auto 20px;
            
        }
}

.footer {
        grid-area: footer;
        display: grid;  
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

        section {
            display: grid;
            grid-gap: 20px;
        }

        .locations {

            article{ 
                display: grid;
                grid-gap: 10px;
            }

            li { 
                display: grid;
                grid-template-rows: 93px;      
            }

            div{ 
                display: grid;
                grid-template-columns: 55px auto; 
            }
        }

        .newsletter {
            display: grid;
            grid-template-rows: 50px;
        }


}