/* =============
    Base
============= */

figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-areas: 
        "header"
        "navigation"
        "hero"
        "hero2"
        "whats-new"
        "footer";
        grid-gap: 25px;
} 
        
.header {
        grid-area: header;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $lightGray;
        

        h1 {
            display: grid;
            grid-template-columns: 40px 60px 280px;
            grid-template-rows: 77px;
            align-items: center;
        }
}

.navigation {
        grid-area: navigation;
        h2 {
            display: grid;
            grid-template-rows: 46px;
            align-items: center;
        }

        form {
            display: grid;
            grid-template-columns: 400px 20px 50px;
            justify-content: center;
        }
}

.hero {
        grid-area: hero;

        li {
            display: grid;
            justify-content: center;
            align-items: center;
        }

        div {
            display: grid;
            grid-template-columns: 300px 20px;
            grid-template-rows: 20px 35px;
        }

        @include md {
            ul {
                display: grid;
                grid-template-columns: 450px auto;
                grid-template-rows: 90px;    
           }
        }

        @include lg {
            ul {
               display: grid;
               grid-template-columns: repeat(2,1fr);
               grid-template-rows: 70px;
            }
        }
}

.hero2 {
        grid-area: hero2;
        display: grid;
        grid-gap: 30px;
        
        div {
            display: grid;
            grid-template-columns: 200px 40px 130px;
            grid-template-rows: 90px 20px;
        }

        ul {
            display:grid;
            grid-gap: 20px;
        }

        li {
            display: grid;
            grid-template-columns: 400px;
            justify-content: center;
        }

        @include md {

            ul {
                display: grid; 
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 160px;
                justify-content: center;
                align-items: center;
            }

            article {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                justify-content: center;
                
            }
        }

        @include lg {

            article {
                display: grid;
                grid-template-columns: repeat(5,1fr);

                .hero2a {
                    grid-column: span 3;
                }

                .hero2b {
                    grid-column: span 2;
                }
            }
        }
}

.whats-new {
        grid-area: whats-new;
        display: grid;
        justify-content: center;
    
        ul {
            display: grid;
            grid-gap: 30px;
        }
    
        h1 {
            display: grid;
            grid-template-rows: 100px;
            align-items: center;
        }

        article {
            display: grid;
            grid-template-columns: 530px;
            grid-template-rows: 400px 60px 50px 20px;
            
        }
}

.footer {
        grid-area: footer;
        display: grid;  
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;

        section {
            display: grid;
            grid-gap: 40px;
        }
        .locations {
            display: grid;
            grid-gap: 20px; 

            article{ 
                display: grid;
                grid-gap: 10px;
            }

            li { 
                display: grid;
                grid-template-rows: 93px;      
            }

            div{ 
                display: grid;
                grid-template-columns: 55px auto; 
            }
        }

        .newsletter {
            display: grid;
            grid-template-rows: 30px;
            grid-gap: 10px;
        }

        .rightfooter {
            display: grid;
            grid-gap: 20px;
        }
}