.footer {
    background-color: $lightfooter;

    .social {
        display: grid;
        grid-template-columns: repeat(4,20px);
        grid-template-rows: 20px;
    }

    .locations {
        li {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid black;

            &:last-child {
                border: none;
            }
        }
    }
   

    @include md {

        section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,fr);
            grid-template-areas: 
                "a b"
                "a c"
                "a .";
        }

        .locations {
            grid-area: a;
            padding-right: 10px;
        }

        .newsletter {
            grid-area: b;
        }

        .follow {
            grid-area: c;   
        }
    }

    @include lg {

        section {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-template-areas:
                "a a b . c"
                "a a . . ."
                "a a . . .";
        }

        .locations {
            grid-area: a;
        }

        .newsletter {
            grid-area: b;
        }

        .follow {
            grid-area: c;   
        }
    }
}

