.hero2 {
    .image {
        background-repeat: no-repeat;
    }   

    .hero2a {
        background-image: url(/deploy/img/hero2a.jpg);
        height: 70vh;
        width: 100%;
        background-size: cover;
    }

    .hero2b {
        background-image: url( /deploy/img/hero2b.jpg);
        height: 70vh;
        width: 100%;
        background-size: cover;
    }

    .hero2c {
        background-image: url( /deploy/img/hero2c.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        display: none;
    }

    .utensils {
        background-color: $darkGray; 
        padding: 15px;
    }

    .nbs {
        background-color: $lightGray;
        padding: 15px;
    }

    @include md {

        ul {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 160px;
            justify-content: center;
            align-items: center;
        }

        article {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            
        }

        .hero2top {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
    }

    @include lg {

        article {
            display: grid;
            grid-template-columns: repeat(5,1fr);

            .hero2a {
                grid-column: span 3;
            }

            .hero2b {
                grid-column: span 2;
            }
        }
    }

    @include xl {
        article {
            display: grid;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
                "a a a a b b b"
                "a a a a c c c";

            .hero2a {
                grid-area: a;
            }

            .hero2b {
                grid-area: b;
            }

            .hero2c {
                grid-area: c;
            }
        }

        .hero2b {
            background-image: url(/deploy/img/hero2b.jpg);
            height: 35vh;
            width: 100%;
            background-size: cover;
        }

        .hero2c {
            display: inline;
        }

        .hero2top {
            margin-left: 200px;
            margin-right: 200px;
        }
    }
}