.hero {
    .hero-img {
        background: url(/deploy/img/hero.jpg);
        height: 60vh;
        width: 100%;
        background-size: cover;
    }
    
    .left {
        background-color: $darkGray;
    }
    
    
    .right {
        background-color: $lightGray;
    }
}