.whats-new {

    .image {
        background-repeat: no-repeat;
        background-size: cover
    }

    .new1 {
        background-image: url(/deploy/img/article1.jpg);
        width: 100%;
        height: 100%;
    }

    .new2 {
        background-image: url(/deploy/img/article2.jpg);
        width: 100%;
        height: 100%;
    }

    .new3 {
        background-image: url(/deploy/img/article3.jpg);
        width: 100%;
        height: 100%;
    }

    .new4 {
        background-image: url(/deploy/img/article4.jpg);
        width: 100%;
        height: 100%;
    }

    .new5 {
        background-image: url(/deploy/img/article5.jpg);
        width: 100%;
        height: 100%;
    }

    @include md {
        display: grid;
        margin-left: 20px;
        margin-right: 20px;

        .image {
            width: 100%;
            height: 100%;
        }

        ul {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(4,250px);
            grid-template-rows: repeat(3,1fr);
            grid-template-areas: 
                "a a b b"
                "c c d d"
                ". e e .";
        }

        article {
            display: grid;
            grid-template-columns: 530px;
        }

        .wn1 {
            grid-area: a;
        }

        .wn2 {
            grid-area: b;
        }

        .wn3 {
            grid-area: c;
        }

        .wn4 {
            grid-area: d;
        }

        .wn5 {
            grid-area: e;
        }
    }

    @include lg {
        .image {
            width: 100%;
            height: 100%;
        }

        display: grid;
        margin-left: 20px;
        margin-right: 20px;

        ul {
            display: grid;
            grid-template-columns: repeat(4,200px);
            grid-template-rows: repeat(4,1fr);
            grid-template-areas: 
                "a a b b c c"
                "a a b b c c"
                ". d d e e ."
                ". d d e e ."
        }

        article {
            display: grid;
            grid-template-columns: 430px;
        }

    }
}